[flake8]
ignore =
    D100,
    DAR101,
    DAR201,
    DAR301,
    DAR401,
    # Missing docstring in public package
    D104,
    # Missing docstring in __init__
    D107,
    # Found using `@staticmethod`
    WPS602,
    # Found upper-case constant
    WPS115,
    # Found too many module members: 8 > 7
    WPS202,
    # Found `f` string
    WPS305,
    # Found implicit `.get()` dict usage
    WPS529,
    # Found inconsistent `return` statement
    WPS324,
    # Found variables that are only used for `return`
    WPS331,
    # Found a line that starts with a dot
    WPS348,
    #  Found complex default value
    WPS404,
    # Do not perform function calls in argument defaults
    B008,
