[flake8]
ignore =
    D100,
    DAR101,
    DAR201,
    DAR301,
    DAR401,
    # Missing docstring in public package
    D104,
    # Found using `@staticmethod`
    WPS602,
    # Found upper-case constant
    WPS115,
    # Found too many module members: 8 > 7
    WPS202,
    # Found `f` string
    WPS305,
    # Found inconsistent `return` statement
    WPS324,